
<header>
  <!-- This div is  intentionally blank. It creates the transparent black overlay over the video which you can modify in the CSS -->
  <div class="overlay"></div>

  <!-- The HTML5 video element that will create the background video on the header -->
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://cdnx.charpstar.net/Videos/crop.mp4" type="video/mp4">
  </video>

  <!-- The header content -->
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">     <div class="bscs-left_a1">
        <h1 class="display-3">Business Cases</h1>
        <p class="lead mb-0">Check out how we have helped our clients achieve their business goals!</p>
                    
                              <span class = "infoBus"><h2>20k+</h2>
                                <p>Products<br>made</p></span>
                              <span class = "infoBus"><h2>4+</h2>
                                <p>Years<br>Serving AR </p></span>
                             <span class = "infoBus"><h2>35+</h2>
                                <p>Delighted<br>Clients </p></span>
                          </div>
      </div>
    </div>
  </div>
</header>
     <!---bscs-area end--->


     <!---dnbscs-area start--->
      <div class="dnbscs-area">
          <div class="container">
              <div class="row">
                  <div class="col-lg-7 ">
                      <div class="dnbscs-left "> 
                 <video autoplay muted loop playsinline >
                 <source src="https://cdnx.charpstar.net/Videos/trader.mp4"  type="video/mp4" />
                    </video>
                      </div>
                  </div>
                  <div class="col-lg-5">
                      <div class="dnbscs-right"> 
                          <h2 class="wow fadeInUp">CharpstAR’s AR serves Home Furnishing Nordic with 500 Active SKUs of their top sellers. </h2>
                          <div class="dnbscs-right-btn wow fadeInUp">
                     

                          </div>
                      </div>
                  </div>
                  
               <section id="testimonial">
                <div class = "container">
            <div class="row ">
             	  <div class="col-12">
                            <div>
                                     <div class="carousel-content">
                                    <div class="client-img"><img src="https://cdnx.charpstar.net/images/Testimonial/Emelie.jpg"  /></div>
                                    <p><i>“For me it is important to work with a genuine company who I can fully trust with delivery - both in quality and turnaround time. CharpstAR has always lived up to my high expectations and over delivered time after time. From the start of our partnership, I have always felt as we have been highly prioritized and taken care of whenever we have a question. CharpstAR is the greatest partner if you want to work with the future of shopping and if you want to have an augmented reality and 3D partner that you can trust 100%. A big bonus is the extremely caring, loyal and engaged team. This is a team that you just want to work with.” </i></p>
                                    <h3>Emelie Wentzel - Marketing Manager, Home Furnishing Nordic</h3>
                                </div>
                            </div>
                   </div>
                          </div>
                        </div>
                  </section>
                  
              </div>
          </div>
      </div>
     <!---dnbscs-area end--->
      <div class="dnbscs-area">
          <div class="container">
              <div class="row">
                    <div class="col-lg-7 order-1 order-lg-2 ">
                      <div class="dnbscs-left"> 
                           <video autoplay muted loop playsinline >
                    <source src="https://cdnx.charpstar.net/Videos/Brasommar2.mp4"  type="video/mp4" />
                    </video>
                      </div>
                  </div>
                  <div class="col-lg-5 order-2 order-lg-1">
                      <div class="dnbscs-right"> 
                          <h2 class="wow fadeInUp">Bra sommarmöbler.se went from a small test to now over 300+ SKUs in AR after a successful test  </h2>
                          <div class="dnbscs-right-btn wow fadeInUp">
                         
                          </div>
                      </div>
                  </div>
              
                 
              </div>
              <section id="testimonial">
                <div class = "container">
            <div class="row">
             	  <div class="col-12">
                            <div>
                                     <div class="carousel-content">
                                    <div class="client-img"><img src="https://cdnx.charpstar.net/images/Testimonial/simon-brasommar.jpeg"  /></div>
                                    <p><i>“In the first phase we ran a small test to work out what would be the important KPI’s such as conversion, average order, session time and page views per visit. We have been pleasantly surprised, now the session time is 400% higher for visitors using AR and conversions are up by 60%”  </i></p>
                                    <h3>Simon Forslund - E-Commerce Manager, Bra SommarMöbler</h3>
                                </div>
                            </div>
                   </div>
                          </div>
                        </div>
                  </section>
          </div>
      </div>
     <!---dnbscst-area end--->
      
            <div class="dnbscs-area">
          <div class="container">
              <div class="row">
                  <div class="col-lg-7">
                      <div class="dnbscs-left"> 
                    <video autoplay muted loop playsinline >
                    <source src="https://cdnx.charpstar.net/Videos/vauni.mp4"  type="video/mp4" />
                    </video>
                      </div>
                  </div>
                  <div class="col-lg-5">
                      <div class="dnbscs-right"> 
                          <h2 class="wow fadeInUp">Vauni does not need to look for a new AR supplier anymore and is now working with CharpstARs solution on their entire product sortiment </h2>
                          <div class="dnbscs-right-btn wow fadeInUp">
          

                          </div>
                      </div>
                  </div>
            <section id="testimonial">
                <div class = "container">
            <div class="row ">
             	  <div class="col-12">
                            <div>
                                     <div class="carousel-content">
                                    <div class="client-img"><img src="https://cdnx.charpstar.net/images/Testimonial/robertBanVauni.jpeg"  /></div>
                                    <p><i>“We have been looking for a high-end AR solution for many years and gone through the usual route by having a custom app created not only once but twice! However, those solutions have not worked satisfactorily and since we run a webshop we want visitors to get the whole Vauni experience at one place and not having to spend time on downloading apps. Charpstars solution integrates perfectly and seamlessly into our website and makes the AR-functionality a natural part of the overall user experience. Only after a few days of being online,  we have started to receive orders where customer decisions have been based on the help from the AR-function. Further the team at CharpstAR have been easy and a joy to work with, especially in creating the high quality 3D modelwork and technical advice during implementation. All this together makes us want to recommend CharpstAR to any company that is looking into offering AR on their platform” </i></p>
                                    <h3> Robert Ban - Managing Director of Vauni</h3>
                                </div>
                            </div>
                   </div>
                          </div>
                        </div>
                  </section>
                </div>
              
          </div>
      </div>
      
                         
                   	<div class="container-fluid counterBoxa">
     
                    <div class="row ">
             
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 sal-animate " data-sal="slide-up" data-sal-duration="700" data-sal-delay="300">
                            <div class="count-box counter-style-1 text-center">
                                
                                <div class = "ready3D">
                                   Bring your Products to Life!
                                </div>
                         <h3><span class = "ctaText">Grow your business to new heights with our fullstack 3D and WebAR services!</span></h3>       
                         <a href="/contactUs" class="button-blue-custom">Book a Demo</a>
                        <a href="/pricing" class="button-black-custom">View Pricing</a>
                            </div>
                            
                        </div>
                    </div>
                </div> 

    <!-- JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <script src="https://cdnx.charpstar.net/js/ziehharmonika.js"></script>

    <!-- Fontawesome Script -->
    <script src="https://kit.fontawesome.com/7749c9f08a.js"></script>
    <script src="https://cdnx.charpstar.net/js/bootstrap.min.js"></script>
    <script src="https://cdnx.charpstar.net/js/owl.carousel.min.js"></script>
    <script src="https://cdnx.charpstar.net/js/wow.min.js"></script>
    <script src="js/main2.js"></script>

    <script>
    $(document).ready(function() {
        $('.ziehharmonika').ziehharmonika({
          collapsible: true,
        });
      });
    </script>


    <script>
      
 $(".owl-carousel").owlCarousel({
    "items" : 5,
    "margin" : 15,
    "autoplay": true,   
    "autoplayTimeout" : 2000,
    "loop" : true,
    "nav" : false,
    "dop" : true,
    stageClass: 'owl-stage',
    "responsive" : {
      0 : {
        "items" : 1
      },
      576 : {
        "items" : 1
      },
      767 : {
        "items" : 1
      },
      991 : {
        "items" : 1
      }


    }
   });
    </script>
 