<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-56GXK64"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

   
        <div class="header-home">

            <div class="header-home-content item_a1">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6">
                            <div class="header-home-content-texts wow fadeInUp" data-wow-delay="0.2s">
                                <h1>3D And WebAR for E-commerce</h1>
                                <p>Experience the next generation of 3D and WebAR for e-commerce! With CharpstAR’s full stack 3D services, let us help you improve your website’s sales and conversions. From 3D viewing  to WebAR to Custom Configurators & Rendering, we do everything 3D. </p>
                                <div class="header-home-content-btns">
                                    <a href="/contactUs" class="button-blue">Book a Demo</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6">
                            <div class="header-home-content-image wow fadeInUp" data-wow-delay="0.4s">
                                <div class="model-viewer-wrapper">
                                 <model-viewer id="threeDViewer" disable-zoom camera-controls max-field-of-view="6deg" auto-rotate min-field-of-view="8deg" camera-orbit="55deg 75deg 105%" src="https://cdn2.charpstar.net/ConfigFiles/BabyBjornConfigurator/New/Baby.glb" environment-image ="neutral">
                                         <div id="annotation">
                                             <p>*Baby Bouncer - <a href = "https://www.babybjorn.se/" style="text-decoration: underline !important;">BabyBjorn.se </a> </p>
                                         </div>
                                        <div class="arClassIcon">
                                                   <img class = "arIcon" onclick="mainElementActivateAR()" data-desktopqr data-androidsrc="https://bbjorn.charpstar.net/Android/048_Babysitter_Bliss_3DJ_Svartgra.glb" data-iossrc="https://bbjorn.charpstar.net/IOS/048_Babysitter_Bliss_3DJ_Svartgra.usdz" src="https://cdnx.charpstar.net/images/FF.gif" alt="aricon">    
                                         </div>
                                </model-viewer>
                                
                                </div>
                         
                            </div>
                        </div>
                    </div>
                </div>
            </div>

             <div class="header-home-content item_a2">
                <div class="container">
                    <div class="row">                       
                        <div class="col-12 col-md-6 col-lg-6">
                            <div class="header-home-content-image wow fadeInUp" data-wow-delay="0.4s">
                                <div class="model-viewer-wrapper">
                                 <model-viewer id="threeDViewer" disable-zoom camera-controls max-field-of-view="6deg" auto-rotate min-field-of-view="8deg" camera-orbit="55deg 75deg 105%" src="https://cdn2.charpstar.net/ConfigFiles/BabyBjornConfigurator/New/Baby.glb" environment-image ="neutral">
                                </model-viewer>
                                    <div class="arClassIcon">
                                           <img class = "arIcon" onclick="activateAR(this)" data-androidsrc="https://bbjorn.charpstar.net/Android/048_Babysitter_Bliss_3DJ_Svartgra.glb" data-iossrc="https://bbjorn.charpstar.net/IOS/048_Babysitter_Bliss_3DJ_Svartgra.usdz"  src="https://cdnx.charpstar.net/images/FF.gif"  alt="aricon">   
                                   </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6">
                            <div class="header-home-content-texts wow fadeInUp" data-wow-delay="0.2s">
                                <h1>3D And WebAR for E-commerce</h1>
                                <p>Experience the next generation of 3D and WebAR for e-commerce! With CharpstAR’s full stack 3D services, let us help you improve your website’s sales and conversions. From 3D viewing  to WebAR to Custom Configurators & Rendering, we do everything 3D. </p>
                                <div class="header-home-content-btns">
                                    <a href="/contactUs" class="button-blue">Book a Demo</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>








            <div class="header-bottom wow fadeInUp" data-wow-delay="0.5s">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="header-bottom-slider owl-carousel">
                                <div class="header-bottom-slider-item">
                                    <img src="https://cdnx.charpstar.net/images/Clients/New/aj.png" alt="AJProdukter">
                                </div>
                                <div class="header-bottom-slider-item">
                                    <img src="https://cdnx.charpstar.net/images/Clients/New/az.png" alt="AZDesign">
                                </div>
                                <div class="header-bottom-slider-item">
                                    <img src="https://cdnx.charpstar.net/images/Clients/New/babybjorn.png" alt="BabyBjorn">
                                </div>
                                <div class="header-bottom-slider-item">
                                    <img src="https://cdnx.charpstar.net/images/Clients/New/balingslov.png" alt="Balingslov">
                                </div>
                                <div class="header-bottom-slider-item">
                                     <img src="https://cdnx.charpstar.net/images/Clients/New/birlea.png" alt="Birlea">
                                </div>
                                <div class="header-bottom-slider-item">
                                      <img src="https://cdnx.charpstar.net/images/Clients/New/brasommar.png" alt="BrasommarMobler">
                                </div>
                                <div class="header-bottom-slider-item">
                                      <img src="https://cdnx.charpstar.net/images/Clients/New/calixter.png" alt="Calixter">
                                </div>
                                <div class="header-bottom-slider-item">
                                    <img src="https://cdnx.charpstar.net/images/Clients/New/cargobike.png" alt="Cargobike">
                                </div>
                                <div class="header-bottom-slider-item">
                                   <img src="https://cdnx.charpstar.net/images/Clients/New/dako.png" alt="Dako">
                                </div>
                               <div class="header-bottom-slider-item">
                                  <img src="https://cdnx.charpstar.net/images/Clients/New/dunsterhouse.png" alt="DunsterHouse">
                                </div>
                             <div class="header-bottom-slider-item">
                                    <img src="https://cdnx.charpstar.net/images/Clients/New/elon.png" alt="Elon">
                                </div>
                                 <div class="header-bottom-slider-item">
                                    <img src="https://cdnx.charpstar.net/images/Clients/New/ep.png" alt="Europris">
                                </div>
                                   <div class="header-bottom-slider-item">
                                   <img src="https://cdnx.charpstar.net/images/Clients/New/finja.png" alt="Finja">
                                </div>
                
                                   <div class="header-bottom-slider-item">
                                    <img src="https://cdnx.charpstar.net/images/Clients/New/hemtex.png" alt="Hemtex">
                                </div>
                                     <div class="header-bottom-slider-item">
                                     <img src="https://cdnx.charpstar.net/images/Clients/New/hfn.png" alt="HomeFurnishingNordic">
                                </div>
                                <!--      <div class="header-bottom-slider-item">-->
                                <!-- <img src="https://cdnx.charpstar.net/images/Clients/New/hm.png" alt="HM">-->
                                <!--</div>-->

                                         <div class="header-bottom-slider-item">
                                     <img src="https://cdnx.charpstar.net/images/Clients/New/mark.png" alt="Markslojd">
                                </div>
                                  <div class="header-bottom-slider-item">
                                     <img src="https://cdnx.charpstar.net/images/Clients/New/mspa.png" alt="Mspa">
                                </div>
                                  <div class="header-bottom-slider-item">
                                       <img src="https://cdnx.charpstar.net/images/Clients/New/nibe.png" alt="Nibe">
                                </div>
                                 <div class="header-bottom-slider-item">
                                       <img src="https://cdnx.charpstar.net/images/Clients/New/norsk.png" alt="NBS">
                                </div>
                              <div class="header-bottom-slider-item">
                                     <img src="https://cdnx.charpstar.net/images/Clients/New/panasonic.png" alt="Panasonic">
                                </div>
                               <div class="header-bottom-slider-item">
                                     <img src="https://cdnx.charpstar.net/images/Clients/New/plantagen.png" alt="Plantagen">
                                </div>
                                 <div class="header-bottom-slider-item">
                                        <img src="https://cdnx.charpstar.net/images/Clients/New/posh.png" alt="PoshLiving">
                                </div>
                                <div class="header-bottom-slider-item">
                                        <img src="https://cdnx.charpstar.net/images/Clients/New/royal.png" alt="RoyalDesign">
                                </div>
                                 <div class="header-bottom-slider-item">
                                       <img src="https://cdnx.charpstar.net/images/Clients/New/soffadirekt.png" alt="Soffadirekt">
                                </div>
                                <div class="header-bottom-slider-item">
                                     <img src="https://cdnx.charpstar.net/images/Clients/New/svenskttenn.png" alt="SvensktTenn">
                                </div>
                                   <div class="header-bottom-slider-item">
                                    <img src="https://cdnx.charpstar.net/images/Clients/New/synsam.png" alt="Synsam">
                                </div>
                               <div class="header-bottom-slider-item">
                                 <img src="https://cdnx.charpstar.net/images/Clients/New/tatefencing.png" alt="Tatefencing">
                                </div>
                                 <div class="header-bottom-slider-item">
                                <img src="https://cdnx.charpstar.net/images/Clients/New/tibergs.png" alt="Tibergs">
                                </div>
                                  <div class="header-bottom-slider-item">
                             <img src="https://cdnx.charpstar.net/images/Clients/New/vauni.png" alt="Vauni">
                                </div>
                                  <div class="header-bottom-slider-item">
                             <img src="https://cdnx.charpstar.net/images/Clients/New/verket.png" alt="VerketInterior">
                                </div>
                                        <div class="header-bottom-slider-item">
                             <img src="https://cdnx.charpstar.net/images/Clients/New/woven.png" alt="Woven">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    <section id="solution-sec">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="solution-content wow fadeInUp" data-wow-delay="0.1s">
                        <div class="solution-content-title  solution-content-title1 wow fadeInUp" data-wow-delay="0.1s">
                            <h2>Web AR</h2>
                        </div>
                        <h4>Let your visitors interact with your products by using augmented reality. Offer your website customers a better product feel and improve your customer journey displaying 3D assets of your products</h4>
                        <p>Plug and play functionality with an app-less AR experience directly on the web. We support all platforms for your needs</p>
                           
                    </div>
                </div>

                <div class="col-lg-3 col-6">                    
    
                    <video   autoplay muted loop playsinline >
                    <source src="https://cdnx.charpstar.net/AR-Charpstar.mp4"  type="video/mp4" />
                    </video>
           
                    
                    </div> 
                     
                <div class="col-lg-3 col-6">                    
    
                    <video   autoplay muted loop playsinline >
                    <source src="https://cdnx.charpstar.net/AR-Charpstar2.mp4"  type="video/mp4" />
                    </video>
           
                    
                    </div> 
                   </div>
                  
                </div>



    </section>
    
    <section id="enhanced">
        <div class="container">
            <div class="row ">
                 <div class="enhanced-content1">
                    <div class="enhanced-content menhanced-content-title wow fadeInUp" data-wow-delay="0.1s">
                        <div class="enhanced-content-title  text-center" data-wow-delay="0.2s">
                            <h2 class="wow fadeInUp text-center">3D Product Configurators </h2>
                        </div>
                        <h4 class="wow fadeInUp">With our 3D product Configurator, your visitors will be getting the impression that they are designing the product. Utilizing color, texture and other options that comes along with your products in realtime will really create another layer of personalization. </h4>
        </div>    </div>    </div>    </div>
            <div class="container mainContainer ">
                <div class="row configRow  mt-sm-4 ">
                    <div class="col-lg-8 col-sm-12 col-12text-center mr-auto position-relative ">
                        <div class="configViewerWrapper">
                            <model-viewer
                                style="--poster-color: transparent;"
                                id="configViewer"
                                min-field-of-view="8deg"
                                camera-orbit="55deg 75deg 105%"
                                disable-zoom
                                reveal="auto"
                                camera-controls
                                environment-image="neutral"
                                max-field-of-view="8deg"
                                src="https://cdn2.charpstar.net/ConfigFiles/BabyBjornConfigurator/New/Baby.glb"
                            >
                            </model-viewer>
                        </div>
                    </div>
                    <div class="col-lg-4 text-center px-0 px-sm-3 configControlArea">
                        <div class="textArea">
                            <h3 class="mainTitle mt-xl-1 mt-1">Baby Bouncer Configurator</h3>
                            <p>MADE FOR BABYBJORN</p>
                        </div>
                        <div class="advance-tab-button advance-tab-button-1">
                            <div>  <div>
                                <h5 class="mt-lg-2 mt-sm-2 mt-2 vertical-text">VARIANT</h5>
                                <button style="font-family: inherit;" id="BabyBjorn3D" onclick="changeModel('BabyBjorn3D')" class="btn btn-circle btn-md active size-button variantBut size-185-185-100">Bliss 3D Jersey</button>
                                <button style="font-family: inherit;" id="babyBjornBliss" onclick="changeModel('babyBjornBliss')" class="btn btn-circle btn-md size-button variantBut size-200-140-100">Bliss Cotton</button>
                                <button style="font-family: inherit;" id="babyBjornBalanceSoft" onclick="changeModel('babyBjornBalanceSoft')" class="btn btn-circle btn-md variantBut size-button size-240-190-100">Balance Soft</button></div>
                                <div>
                                    <h5 class="mt-lg-4 mt-sm-4 mt-3 vertical-text">COLOR</h5>
                                    <div id="3DJersey">
                                        <button id="lightGreyMesh" onclick="changeMaterial('LGrey', 'lightGreyMesh','050_Babysitter_Bliss_3DJ_Ljusgra')" class="btn btn-circle btn-md colorButton jerseyBut GreyBox  buy d-inline-flex"></button>
                                        <button id="darkGreyMesh" onclick="changeMaterial('DGrey', 'darkGreyMesh','048_Babysitter_Bliss_3DJ_Svartgra')" class="btn btn-circle btn-md colorButton jerseyBut BlackBox active buy d-inline-flex"></button>
                                        <button id="doveBlueMesh" onclick="changeMaterial('Blue', 'doveBlueMesh','049_Babysitter_Bliss_3DJ_Duvbla')" class="btn btn-circle btn-md colorButton jerseyBut BlueBox buy d-inline-flex"></button>
                                    </div>
                                    <div id="Cotton">
                                        <button id="sandGreyBliss" onclick="changeMaterial('Beige', 'sandGreyBliss','036_Babysitter_Bliss_sandgra')" class="btn btn-circle btn-md colorButton blissBut Sand active buy d-inline-flex"></button>
                                        <button id="antikRoseBliss" onclick="changeMaterial('Pink',  'antikRoseBliss','037_Babysitter_Bliss_antikrosa')" class="btn btn-circle btn-md colorButton blissBut artRosa buy d-inline-flex"></button>
                                        <button id="midnattBlaBliss" onclick="changeMaterial('Blue', 'midnattBlaBliss','038_Babysitter_Bliss_midnattsbla' )" class="btn btn-circle btn-md colorButton blissBut blueMidnight buy d-inline-flex"></button>
                                        <button id="antracitGraBliss" onclick="changeMaterial('Antracite', 'antracitGraBliss' ,'039_Babysitter_Bliss_antracitgra')" class="btn btn-circle btn-md colorButton blissBut antGray buy d-inline-flex"></button>
                                        <button id="svartBliss" onclick="changeMaterial('Black', 'svartBliss' ,'040_Babysitter_Bliss')" class="btn btn-circle btn-md colorButton BlackBox blissBut buy d-inline-flex"></button>
                                        <button id="ljusGulBliss" onclick="changeMaterial('Yellow', 'ljusGulBliss' ,'Removed041_Babysitter_Bliss_ljusgul')" class="btn btn-circle btn-md colorButton lightYellow blissBut buy d-inline-flex"></button>
                                    </div>
                                    <div id="Balance">
                                        <button id="morkGraGraBalance" onclick="changeMaterial('Grey', 'morkGraGraBalance','034_Babysitter_Balance_svart_morkgra')" class="btn btn-circle btn-md colorButton balanceBut beigeGrey  buy d-inline-flex"></button>
                                        <button id="beigeGraBalance" onclick="changeMaterial('Beige', 'beigeGraBalance' ,'027_Babysitter_Balance_beige_gra')" class="btn btn-circle btn-md colorButton balanceBut DGreyGrey active buy d-inline-flex"></button>
                                        <button id="roseGraBalance" onclick="changeMaterial('Pink', 'roseGraBalance' ,'Removed035_Babysitter_Balance_rost_orange')" class="btn btn-circle btn-md colorButton balanceBut pinkGrey buy d-inline-flex"></button>
                                        <button id="gulGraBalance" onclick="changeMaterial('Yellow', 'gulGraBalance' ,'029_Babysitter_Balance_gul_gra')" class="btn btn-circle btn-md colorButton balanceBut yellowGrey buy d-inline-flex"></button>
                                        <button id="blaGraBalance" onclick="changeMaterial('Blue', 'blaGraBalance' ,'030_Babysitter_Balance_bla_gra')" class="btn btn-circle btn-md colorButton balanceBut blueGrey buy d-inline-flex"></button>
                                    </div>
                                </div>
    
                            </div>
                        </div>
                        <div>
                            <div class="textArea">
                                <button id="arViewer" class = "arConfigButton cutomBtnIndex" onclick="activateAR(this)" data-desktopqr data-androidsrc="https://bbjorn.charpstar.net/Android/048_Babysitter_Bliss_3DJ_Svartgra.glb" data-iossrc="https://bbjorn.charpstar.net/IOS/048_Babysitter_Bliss_3DJ_Svartgra.usdz#allowsContentScaling=0">View in AR</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
   

    </section>

    <section id="dynamic-pricing">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="wow fadeInUp text-center" data-wow-delay="0.2s">
                        <div class="enhanced-content-title">
                            <h2>Supercharge your E-com business </h2>
                            <h4>With cutting-edge AR/3D technology that will allow your customers to get a better feel for your products. We have helped many clients across the globe  increase their online conversion and brand engagement, while reducing returns.</h4>
                        </div>
                      
                        
                     
 	<div class="row">
			 
			    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 boxColumns">
               
					<div class="box-part text-center">
                        
                        {{!-- <i class="fa fa-instagram fa-3x" aria-hidden="true"></i> --}}
                        
						<div class="title title1 mobile-title1">
							<h4>3D Interaction</h4>
						</div>
                        
						<div class="text text3">
							<p><span>Over 110,000 users interact with 3D models hosted by CharpstAR everyday, with up to a 400% increase in Avg. Session Duration</span></p>
						</div>

					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 boxColumns">
               
					<div class="box-part text-center">
					    
					    {{!-- <i class="fa fa-twitter fa-3x" aria-hidden="true"></i> --}}
                    
						<div class="title title1 mobile-title1">
							<h4>Enhanced Online Engagement</h4>
						</div>
                        
						<div class="text text3">
							<p><span>The average customer spends more than 10 minutes interacting with our AR products - that’s almost 5 times as long as the engagement with standard listings! </span></p>
						</div>
                        
		
                        
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 boxColumns">
               
					<div class="box-part text-center">
                        
                        {{!-- <i class="fa fa-facebook fa-3x" aria-hidden="true"></i> --}}
                        
						<div class="title title1 mobile-title1">
							<h4>Conversion boost</h4>
						</div>
                        
						<div class="text text3">
							<p><span>We have helped our clients achieve up to a 200% increase in sales and conversion of their products!</span></p>
						</div>
                        
				
                        
					 </div>
				</div>	 

		</div>		
          
                    </div>
            
                </div>
            </div>
        </div>
      
        
        
    </section>
  
                         
                   	<div class="container-fluid counterBoxa">
     
                    <div class="row ">
             
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 sal-animate " data-sal="slide-up" data-sal-duration="700" data-sal-delay="300">
                            <div class="count-box counter-style-1 text-center">
                                
                                <div class = "ready3D">
                                   Bring your Products to Life!
                                </div>
                         <h3><span class = "ctaText">Grow your business to new heights with our fullstack 3D and WebAR services!</span></h3>       
                         <a href="/contactUs" class="button-blue-custom">Book a Demo</a>
                        <a href="/pricing" class="button-black-custom">View Pricing</a>
                            </div>
                            
                        </div>
                    </div>
                </div> 
  <section id="footer">
        <div class="container">
            <div class="row footer-menu-row">
                <div class="col-12 col-md-12 col-lg-3">
                    <div class="footer-logo">
                            <img src="images/logo-white.png" alt="#">
                    </div>
                </div>
                <div class="col-6 col-sm-3 col-md-3 col-lg-3">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="/">Solution</a></li>
                            <li><a href="/businessCases">Business Cases</a></li>
                            <li><a href="/contactUs">Book a Demo</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-6 col-sm-3 col-md-3 col-lg-3">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="/contactUs">Contact Us</a></li>
                            <li><a href="/pricing">Pricing</a></li>
                            <li><a href="/pricingFaq">FAQ</a></li>
                        </ul>
                    </div>
                </div>
               <div class="col-6 col-sm-3 col-md-3 col-lg-3">
                    <div class="footer-menu">
                          <div class="footer-bottom-left">
                            <ul>
                            <li><a href="/termsCondition">Terms and Conditions</a></li>
                            <li><a href="/policy">Privacy Policy</a></li>
                        </ul>
                        </div>
                        <div class="footer-bottom-right">
                            <p>© 2022 CharpstAR AB</p>
                        
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
    </section>

 

 <div class="hidden">
              
                <model-viewer style="visibility:hidden;max-height:0px;" id="hiddenViewer1" reveal = "auto" src="https://cdn2.charpstar.net/ConfigFiles/BabyBjornConfigurator/New/BabyCloth1.glb">
                     </model-viewer>
              
              <model-viewer style="visibility:hidden;max-height:0px;" id="hiddenViewer2" reveal = "auto" src="https://cdn2.charpstar.net/ConfigFiles/BabyBjornConfigurator/New/BabyBalance3.glb">
                     </model-viewer>
</div>                  

 
    <!-- JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdnx.charpstar.net/js/bootstrap.min.js"></script>
    <script src="https://cdnx.charpstar.net/js/owl.carousel.min.js"></script>
    <script src="https://cdnx.charpstar.net/js/wow.min.js"></script>
    <script src="https://cdnx.charpstar.net/js/main.js"></script>
    <script src="https://cdnx.charpstar.net/js/config.js"></script>
  
