<div class="container">
    <div class="row">
        <div class="serverError">
            <div>
                <img class="serverPng" src="/images/cloud-computing (1).png" alt="">
            </div>
            <h5>{{message}}</h5>
            <h6>Please try again later</h6>
        </div> 
    </div>
</div>